*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url(../images/bgimage3.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

/*-------------------------------Fonts-------------------------------*/

@font-face {
    font-family: spacefont;
    src: url(../Fonts/comfortaa/static/Comfortaa-Medium.ttf);
}
@font-face {
    font-family: contentfont;
    src: url(../Fonts/arimamadhurai/ArimaMadurai-Regular.ttf);
}
@font-face {
    font-family: significantfont;
    src: url(../Fonts/Lora/static/Lora-Italic.ttf);
}

/*-------------------------------Desktop-------------------------------*/

/*----------------Header---------------*/

header{
    display: flex;
    justify-content: space-between;
    background: rgba(0, 0, 21, 0.57);
    box-shadow: inset 10px 10px 50px rgba(0, 0, 0, 0.25);

    /* width: 1080px; */
}


/*----------------Logo---------------*/

header img{
    width: 16em;
    height: 7em;
    margin: 1rem 3rem;
    display: block;
}

/*----------------Navigations---------------*/

.navs ul li a{
    text-decoration: none;
    font-family: contentfont;
    font-size: 1rem;
    color: #f5f5f5;
}
.navs ul li a:hover{
    border-bottom: 2px solid #f5f5f5;
}
.navs ul li a:active{
    border-bottom: 2px solid #f5f5f5;
}
.navs ul li{
    list-style: none;
    margin-left: 5rem;
}
.navs ul{
    display: flex;
    margin: 4rem 5rem;
}

/*----------------Sec-one---------------*/

.sec-one{
    display: flex;
    justify-content: space-around;
    margin-top: 3rem;
    padding-top: 2rem;
    height: 14rem;
    background: rgba(0, 0, 0, 0.57);
    box-shadow: inset 10px 10px 50px 25px rgba(0, 0, 0, 0.25);
}

/*----------------Offering-Experience---------------*/

.offering-experience{
    font-family: contentfont;
    color: #f5f5f5;
    display: flex;
    /* margin-top: 2rem; */
    /* padding: 1em; */
    /* width: ; */
}

.offering-experience ul li{
    margin-left: 50px;
    list-style-type:none;
    padding: 3px;

}

/*----------------Offerings---------------*/

.offerings h1{
    font-weight: normal;
}
.offerings{
    margin-right: 4rem;
}

/*----------------Space-Experience---------------*/

.outer-logo-span{
    font-family: spacefont;
    font-size: 2rem;
}
.inner-logo-span{
    color: #005F73;
}
.space-experience h1{
    font-weight: normal;
}
.space-experience{
    margin-left: 4rem;
}

/*----------------image-Content---------------*/
.image-content h3{
    font-family: significantfont;
    color: #f5f5f5;
    font-weight: normal;
    font-size: 1.7rem;
    margin: 2rem 4rem 1rem;
}

.image-content img{
    width: 16rem;
    height: 22rem;
    filter: drop-shadow(3px 5px 12px rgba(255, 255, 255, 0.25));
    border-radius: 9px;
}

/*----------------nameplate---------------*/

.nameplate p{
    font-family: contentfont;
    color: #f5f5f5;
    font-size: 1.3rem;
    padding: 0.5rem 3rem;
}
.nameplate{
    background: rgba(0, 0, 0, 0.57);
    box-shadow: inset 10px 10px 50px 25px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    width: 16rem;
}

/*----------------Sec-two---------------*/
/*----------------Process---------------*/
.process ul li img{
    height: 3rem;
    width: 3rem;
    margin-left: 2rem;
}
.process ul li p{
    font-family: contentfont;
    color: #f5f5f5;
    font-size: 1.2rem;
}
.process ul li{
    list-style: none;
    margin: 4rem;
}
.process ul {
    display: flex;
    margin: 2rem 3rem;
}

/*----------------Sec-three---------------*/
/*----------------paragraph---------------*/
.paragraph{
    font-family: significantfont;
    font-style: italic;
    color: #f5f5f5;
    font-size: 1.5rem;
}
.paragraph p span{
    font-family: spacefont;
    color: #f5f5f5;
    font-style: normal;
}
.paragraph p span span{
    color: #005F73;
}

/*----------------main---------------*/

.main{
    margin:4rem 34rem;
}

/*----------------btn---------------*/

.btn{
    font-family: significantfont;
    color: #f5f5f5;
    font-size: 1.2em;

    height: 3rem;
    width: 8rem;
    margin:1.2rem 9rem;

    background: rgba(2, 2, 22, 0.72);
    border: 1px solid #F5F5F5;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 7px;
}
.btn:hover{
    color: #000;
    border: none;
    background-color: #f5f5f5;
    /* height: 5rem; */
    width: 10rem;
    margin-left: 8rem;
}

/*----------------footer---------------*/

footer{

    height: 2rem;

    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.27) 51.87%, rgba(255, 255, 255, 0) 100%);
}
footer p{
    color: #f5f5f5;
    margin-left: 39rem;
    padding-top: 0.5rem;
}

/*--------------------------------Tablet-------------------------------*/

@media only screen and (max-width: 1024px){

    /*----------------Header---------------*/
    header{
        width: 1080px;
    }
}

/*-------------------------------Mobile--------------------------------*/

@media screen and (max-width:767px) {

    body{
        
        overflow-x: hidden;

    }

    /*----------------Header---------------*/

    header{
        display: block;
        /* margin-top: 0rem; */
    }

    /*----------------Logo---------------*/

    header img{
        margin: auto;
    }

    /*----------------Navigations---------------*/

    .navs ul li a{
        font-size: 2rem;
    }
    .navs ul li{
        list-style: none;
        margin: auto;
    }
    .navs ul{
        display: flex;
        margin: 1rem 2rem;  
    }

    /*----------------Sec-one---------------*/
    
    .sec-one{
        display: block;
        /* justify-content: space-around; */
        margin:0rem;
        padding: 2rem;
        height: 60rem;
        width: 1080px;
    }
    
    /*----------------Offering-Experience---------------*/
    
    .offering-experience{
        display: block;
        font-size: 2.5rem;
        padding: 2rem 18rem;
        width: 1080px;
    }
    
    
    /*----------------Offerings---------------*/
    
    .offerings{
        margin-right: 0rem;
    }
    
    /*----------------Space-Experience---------------*/
    
    .outer-logo-span{
        font-size: 3.5rem;
    }
    .space-experience{
        margin-left: 0rem;
    }
    
    /*----------------image-Content---------------*/

    .image-content{
        margin: 1rem 16rem;
    }
    .image-content h3{
        font-size: 5rem;
    }
    
    .image-content img{
        width: 33rem;
        height: 43rem;
    }
    
    /*----------------nameplate---------------*/
    
    .nameplate p{
        font-size: 4rem;
    }
    .nameplate{
        text-align: center;
        width: 33rem;
    }

    /*----------------Sec-two---------------*/
    /*----------------Process---------------*/
    .process{
        display: none;
    }
    /*----------------Sec-three---------------*/
    /*----------------paragraph---------------*/
    /*----------------main---------------*/
    .main{
        width: 1080px;
        margin-top: 70rem;
    }

    .paragraph{
        font-size: 3.4rem;
        margin-left: -30rem;
    }
    
    /*----------------btn---------------*/

    .btn{
        font-size: 3em;
    
        height: 10rem;
        width: 25rem;
        margin-left:-13rem;
        /* margin: auto; */
    
        border-radius: 12px;
    }
    /*----------------footer---------------*/
    footer{

        /* height: 0rem; */
    
        background: none;
    }
    footer p{
        display: none;
    }
    
}

